/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
$back: #08510b;
$color: wheat;

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полный рост */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант */
  background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
  padding-top: 155px;
}

/* Модальное Содержание/коробка */
.modal-content {
  background-color: #fefefe;
  margin: 10px auto; /* 15% сверху и по центру */
  border: 1px solid #233f24;
  width: 40%; /* Может быть больше или меньше, в зависимости от размера экрана */
  height: 80%;
  border-radius: 25px;
  background: $back;
  opacity: 0.95;
}
  label {
    color: $color;
    margin-top: 10%;
  }

/* Кнопка закрытия */
.close {
  /* Расположите его в правом верхнем углу за пределами модели */
  position: fixed;
  color: $color;
  font-size: 35px;
  font-weight: bold;
  align-content: flex-end;
}

/* Кнопка закрытия при наведении курсора мыши */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Добавить анимация масштабирования */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.navbar-brand {
  margin-left: 20vh;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_logo,
.nav_link,
.login {
  color: #fff;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link:hover {
  color: #d9d9d9;
}
.login {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.login:active {
  transform: scale(0.98);
}

// /* Home */
// .home {

//   position: relative;
//   height: 100vh;
//   width: 100%;
//   background-size: cover;
//   background-position: center;
// }
// .home::before {
//   content: "";
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.6);
//   z-index: 100;
//   opacity: 0;
//   pointer-events: none;
//   transition: all 0.5s ease-out;
// }
// .home.show::before {
//   opacity: 1;
//   pointer-events: auto;
// }

// /* From */
// .form_container {
//   position: fixed;
//   max-width: 320px;
//   width: 100%;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1.2);
//   z-index: 101;
//   background: $back;
//   padding: 25px;
//   border-radius: 12px;
//   box-shadow: rgba(0, 0, 0, 0.1);
//   opacity: 0.95;
//   pointer-events: none;
//   transition: all 0.4s ease-out;
// }
// .hidden {
//   display: none;
// }
// .home.show .form_container {
//   opacity: 1;
//   pointer-events: auto;
//   transform: translate(-50%, -50%) scale(1);
// }
// .signup_form {
//   display: none;
// }
// .form_container.active .signup_form {
//   display: block;
// }
// .form_container.active .login_form {
//   display: none;
// }
// .formClose {
//   position: absolute;
//   top: 10px;
//   right: 20px;
//   color: $color;
//   font-size: 22px;
//   opacity: 0.7;
//   cursor: pointer;
// }
.modal-content h2 {
  font-size: 100%;
  color: $color;
  text-align: center;
  padding-top: 30px;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 80%;
  height: 35%;
  
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  border-radius: 15px;
}
.input_box input:focus {
  border-color: black;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 10px;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: $back;
}
.input_box i.pw_hide {
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}
// .option_field {
//   margin-top: 14px;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
// .form_container a {
//   color: $color;
//   font-size: 12px;
// }
// .form_container a:hover {
//   text-decoration: underline;
//   color: dark;
// }
// .checkbox {
//   display: flex;
//   column-gap: 8px;
//   white-space: nowrap;
// }
// .checkbox input {
//   accent-color: $color;
// }
// .checkbox label {
//   font-size: 12px;
//   cursor: pointer;
//   user-select: none;
//   color: $color;
// }
// .form_container .button {
//   background: $color;
//   margin-top: 30px;
//   width: 100%;
//   padding: 10px 0;
//   border-radius: 10px;
// }
// .login_signup {
//   font-size: 12px;
//   text-align: center;
//   margin-top: 15px;
//   color: $color;
// }
 

// .container {
//   margin: 50px;
//   transition: 0.6s ease-out;
//   .row {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .col {
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//   }
// }


.login, .add {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid wheat;
  color: $color;
  transition: all .5s;
}
.login {
  margin-left: 94.5vh;
}
.login:hover {
  background: wheat;
  color: dark;
}


